form {
    margin: 1rem auto;
    width: 65%;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 2rem;
    max-width: 800px;
}

h3 {
    margin-bottom: 1.5rem;
}

.field__label {
    width: 20%;
    min-width: fit-content;
}

.form__field {
    margin-top: 1rem;
    min-width: fit-content;
}